pipeline/pipelineForHandlingErrors.json
{
	"name": "pipelineForHandlingErrors",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipelineforerrors",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineForCopyFromBlobToDatalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourcecontainer": {
							"value": "@pipeline().parameters.sourcecontainer",
							"type": "Expression"
						},
						"sourcefilename": {
							"value": "@pipeline().parameters.sourcefilename",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipelineforerrors",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errormessage",
					"value": {
						"value": "@activity('Execute Pipelineforerrors').Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipelineforerrors",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-05.eastus.logic.azure.com:443/workflows/bcf4157088544e00a9a14af9c1427f9f/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=wB4PTdcxNImijFvCuEl0SGRDNhYeBCIyjUEtNDnpiXk",
					"body": {
						"PipelineName": "@{pipeline().Pipeline}",
						"ActivityName": "@{activity('Execute Pipeline1').PipelineName}",
						"ErrorMessage": "@{activity('Execute Pipeline1').Error.Message}"
					}
				}
			},
			{
				"name": "ETL_pipelinelogs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DatasetFrorblob",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "datasetForErrorHandling",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"sourcecontainer": {
				"type": "string"
			},
			"sourcefilename": {
				"type": "string"
			}
		},
		"variables": {
			"errormessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-22T12:12:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}